body {
  text-align: center;
  font-family: "Arial", sans-serif;
  background-color: #ffe6e6;
  padding-top: 50px;
}
#container {
  position: relative;
  height: 300px;
}
h1 {
  color: #d63384;
}
span {
  color: #dc143c;
  font-size: 40px;
}
.btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin: 10px;
  transition: 0.3s;
}
#yesBtn {
  background-color: #ff4d6d;
  color: white;
}
#noBtn {
  background-color: #6c757d;
  color: white;
  position: absolute;
}
